/* client/src/index.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --magenta: #9F0D7F;
  --bright-pink: #EA1179;
  --black: #22092C;
  --maroon: #872341;
  --red: #BE3144;
  --orange: #F05941;
  --light-orange: #FFE4C9;
  --cream: #FFF7F1;
}
